<ion-view title="Agent Info" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="agentInfo-card29">
      <ion-item id="agentInfo-list-item13">Name</ion-item>
      <div class="item item-body" id="agentInfo-list-item-container15">
        <div id="agentInfo-markdown25" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="agentInfo-card210">
      <ion-item id="agentInfo-list-item15">Address</ion-item>
      <div class="item item-body" id="agentInfo-list-item-container16">
        <div id="agentInfo-markdown26" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="agentInfo-card211">
      <ion-item id="agentInfo-list-item16">Contact</ion-item>
      <div class="item item-body" id="agentInfo-list-item-container17">
        <div id="agentInfo-markdown27" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="agentInfo-card212">
      <ion-item id="agentInfo-list-item17">E-Mail</ion-item>
      <div class="item item-body" id="agentInfo-list-item-container18">
        <div id="agentInfo-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="agentInfo-card213">
      <ion-item id="agentInfo-list-item18">Website</ion-item>
      <div class="item item-body" id="agentInfo-list-item-container19">
        <div id="agentInfo-markdown29" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>