<ion-view title="Guide Info" id="page13">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="guideInfo-card28">
      <ion-item id="guideInfo-list-item11" class="Adventure white-text">Name</ion-item>
      <div class="item item-body" id="guideInfo-list-item-container14">
        <div id="guideInfo-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">{{guide.name}}
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="guideInfo-card214">
      <ion-item id="guideInfo-list-item19" class="Entertainment white-text">Languages Known</ion-item>
      <div class="item item-body" id="guideInfo-list-item-container20">
        <div id="guideInfo-markdown30" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            {{guide.languagesKnown}}
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="guideInfo-card215">
      <ion-item id="guideInfo-list-item20" class="tab1 white-text">Contact</ion-item>
      <div class="item item-body" id="guideInfo-list-item-container21">
        <div id="guideInfo-markdown31" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            {{guide.contact}}
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="guideInfo-card216">
      <ion-item id="guideInfo-list-item21" class="Divine white-text">E-mail</ion-item>
      <div class="item item-body" id="guideInfo-list-item-container22">
        <div id="guideInfo-markdown32" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            {{guide.email}}
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
