<ion-view title="{{mainCat}}" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="pOIDetail-card25">
      <div style="margin: 0px;  background-color: rgb(232, 235, 239); text-align: center;"
           ng-repeat="place in places" ng-click="pickPlace(place)">
        <img class="item-avatar" ng-src="{{place.icon}}">
        <!--<i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>-->
        <div class="footer {{mainCat}}">
          <h4 class="title white-text" style="padding: 1%">{{place.name}}</h4>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
