<ion-view title="{{mainCat}}" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="pOIDetail-card25">

      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Search" ng-model="search">
          </label>
        </div>
      </div>

      <div style="margin: 0px;  background-color: rgb(232, 235, 239);"
           ng-repeat="place in places | filter: search">
        <!--<i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>-->
        <div class="item item-divider icon-left ion-home white-text {{colors[$index % 6]}}">
          {{place.HOTEL_NAME}}
        </div>
        <a href="{{'https://www.google.com/maps?q=' + place.ADDRESS}}"
           class="item item-text-wrap icon-left ion-android-list">
          {{place.ADDRESS}}, {{place.STATE}}
        </a>
        <a href="{{'tel:' + place.PHONE}}" class="item item-text-wrap icon-left ion-android-call">
          {{place.PHONE}}
        </a>
        <a href="{{'http://' + place.WEBSITE}}" class="item item-text-wrap ion-ios-world">
          {{place.WEBSITE}}
        </a>
        <a href="{{'mail:' + place.EMAIL_ID}}" class="item item-text-wrap ion-email">
          {{place.EMAIL_ID}}
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
