<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab class="planner white-text" title="Planner" icon="ion-calendar" href="#/page1/page1"
             id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="POI" icon="ion-heart" class="poi white-text" href="#/page1/page2" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Search" icon="ion-search" class="search white-text" href="#/page1/page3" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Utilities" icon="ion-wrench" class="utilities white-text" href="#/page1/page4"
             id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Profile" icon="ion-person" class="profile white-text" href="#/page1/page5" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
